<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      .error {
        color: red;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <!-- Error message display -->

      <% if (locals.error) { %>
      <p class="error"><%= error %></p>
      <% } %>

      <!-- main form part -->
      <form action="/user/login" method="post">
        <label>Email</label>
        <input type="text" required name="email" /> <br />
        <label>Password</label>
        <input type="text" required name="password" /> <br />

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
